{% load static %}
<!doctype html>
<html lang="ko">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="profile" href="https://django-yososu.herokuapp.com/">
    <title>요소수 판매정보 어플</title>
    <meta name="description" content="요소수 위치정보 판매처 요소수어플">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://django-yososu.herokuapp.com/">
    <link rel="next" href="https://django-yososu.herokuapp.com/">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:type" content="website">
    <meta property="og:title" content="요소수 위치정보 판매처 요소수어플">
    <meta property="og:description" content="요소수 위치정보 판매처 요소수어플">
    <meta property="og:url" content="https://django-yososu.herokuapp.com/">
    <meta property="og:site_name" content="요소수 판매처">

	<!-- 제이쿼리 설치 -->
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
 </head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <!-- 기본 템프릿 안에 삽입될 내용 START -->
  {% block content %}
  {% endblock %}
  <!-- 기본 템플릿 안에 삽입될 내용 END -->
</body>

</html>